@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-mobile: 576px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1200px;
}

.positive-btn {
    @apply hover:cursor-pointer bg-linear-to-r from-emerald-200 via-emerald-300 to-emerald-400 dark:from-emerald-400 dark:via-emerald-500 dark:to-emerald-600 hover:bg-linear-to-br font-medium rounded-xl text-sm px-4 py-2.5 text-center leading-5;
}

.negative-btn {
    @apply hover:cursor-pointer bg-linear-to-r from-red-200 via-red-300 to-red-400 dark:from-red-400 dark:via-red-500 dark:to-red-600 hover:bg-linear-to-br font-medium rounded-xl text-sm px-4 py-2.5 text-center leading-5;
}

.filter-select {
    @apply hover:cursor-pointer bg-linear-to-r from-emerald-200 via-emerald-300 to-emerald-400 dark:from-emerald-400 dark:via-emerald-500 dark:to-emerald-600 hover:bg-linear-to-br inline-flex items-center justify-center font-medium rounded-xl text-sm px-3 py-2 focus:outline-none;
}

.table-cell-h {
    @apply p-2 text-left border-b border-stone-200;
}

.table-cell {
    @apply p-2 items-center border-b border-stone-200;
}

.small-text {
    @apply desktop:text-xl tablet:text-lg mobile:text-sm;
}

.medium-text {
    @apply desktop:text-3xl tablet:text-2xl mobile:text-xl;
}

.big-text {
    @apply desktop:text-5xl tablet:text-4xl mobile:text-3xl;
}
